FRONT1="http://localhost:5173"
FRONT2="http://localhost:5174"

FACEBOOK_APP_ID=""
FACEBOOK_CALLBACK_URL="http://loca"
FACEBOOK_SECRET="63ee02a"

GOOGLE_CALLBACK_URL="http://localhos"
GOOGLE_CLIENT_ID="21070"
GOOGLE_CLIENT_SECRET="GOC"
JWT_CONFIRMATION="5705c07c6c9a5c6437b22342310e05c6cd6fb352b9ddd475370cd3"
JWT_REFRESH="5705c07c6c9a5c6437b2455a4961da10e05c6cd6fb352b9ddd4753"
JWT_RESET_PASSWORD="5705c07c6c9a5c64b22342310e05c6cd6fb352b9ddd"
JWT_SECRET="4c728096411f3130e983027880437e85847a2c"
SALT="10"
SESSION_SECRET="Ssd"
gmailId=""
gmailPass=""
imagekit_Private_Key="pri"
imagekit_publicKey="publ"
imagekit_urlEndpoint="h"
mongoCon="mongod"


vercel.json old


// {
//   "version": 2,
//   "builds": [
//     {
//       "src": "./app.js",
//       "use": "@vercel/node"
//     }
//   ],
//   "routes": [
//     {
//       "src": "/(.*)",
//       "dest": "./",
//       "methods": ["GET", "POST", "PUT", "DELETE", "PATCH", "OPTIONS"],
//       "headers": {
//         "Content-Type": "application/x-www-form-urlencoded",
//         "Access-Control-Allow-Origin": "https://odin-book-front.vercel.app",
//         "Access-Control-Allow-Credentials": "true",
//         "Access-Control-Allow-Methods": "GET,OPTIONS,PATCH,DELETE,POST,PUT",
//         "Access-Control-Allow-Headers": "X-CSRF-Token, X-Requested-With, Accept, Accept-Version, Content-Length, Content-MD5, Content-Type, Date, X-Api-Version"
//       }
//     }
//   ]
// }


{
  "version": 2,
  "builds": [
    {
      "src": "./app.js",
      "use": "@vercel/node"
    }
  ],
  "routes": [
    {
      "src": "/(.*)",
      "headers": {
        "Access-Control-Allow-Origin": "https://odin-book-front.vercel.app",
        "Access-Control-Request-Method": "*",
        "Access-Control-Allow-Credentials": "true",
        "Access-Control-Allow-Methods": "GET,OPTIONS,PATCH,DELETE,POST,PUT",
        "Access-Control-Allow-Headers": "X-CSRF-Token, X-Requested-With, Accept, Accept-Version, Content-Length, Content-MD5, Content-Type, Date, X-Api-Version",
        "Content-Type": "application/json",
          "Access-Control-Request-Method": "GET,OPTIONS,PATCH,DELETE,POST,PUT",
        "Access-Control-Request-Headers": "origin, x-requested-with",
        "Origin": "https://odin-book-front.vercel.app",
        "Access-Control-Allow-Methods": "GET,OPTIONS,PATCH,DELETE,POST,PUT",
        "Access-Control-Allow-Headers": "Origin, X-Requested-With, Content-Type, Accept",
        "Content-Type": "application/json",
        "Access-Control-Expose-Headers": "Content-Length, X-JSON",
        "Access-Control-Max-Age": "10000"
      },
      "dest": "/",
      "continue": true
    }
  ]
}

  "routes": [
    {
      "src": "/(.*)",
      "dest": "/",
      "headers": {
        "Access-Control-Allow-Origin": "https://odin-book-front.vercel.app",
        "Access-Control-Allow-Credentials": "true",
        "preflightContinue": "true",
        "optionsSuccessStatus": "204"
      }
    }
  ],